.contact {
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #909090f6, #000000de),
    url(https://unicorn-dev.pl/creativeUnicorn/photos/background.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  @include animation("renderBackground 1s");

  &__header {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 7px;
    width: 100%;
    text-align: center;
  }

  &__info {
    margin: 1rem 0;
    background-image: url(https://unicorn-dev.pl/creativeUnicorn/photos/frame.png);
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 14px;
    background-position: center;
    background-size: contain;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 30px;
    height: 14rem;
    width: 22rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
      color: #000000ce;
      font-size: 1.1rem;
      padding-right: 0.3rem;
    }

    &--detail > p {
      display: flex;
      align-items: center;
    }
  }
}
