.contact {
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(to bottom, #909090e3, #000000a2),
    url(/dist/photos/background.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  @include animation("renderBackground 1s");

  &__header {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 7px;
    width: 100%;
    text-align: center;
  }

  &__info {
    margin: 1rem 0;
    background-color: rgba(255, 255, 255, 0.486);
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 30px;
    font-weight: 600;

    i {
      color: #000000ce;
      font-size: 1.1rem;
      padding-right: 0.3rem;
    }

    &--detail > p {
      display: flex;
      align-items: center;
    }
  }

  &__map {
    @include animation("renderBackground 2s");
  }
}
