.home {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(to bottom, #ffffff31, #ffffff41),
    url(/dist/photos/home_image.jpg);
  background-size: cover;
  background-position: left;
  @include animation("renderBackground 1s");

  &__header {
    margin-top: 18rem;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-items: center;

    &--title {
      text-align: center;
      display: flex;
      flex-flow: column wrap;

      .span1 {
        margin-right: 5rem;
        color: rgba(0, 0, 0, 0.746);
        font-size: 1.7rem;
        font-weight: 900;
        text-transform: uppercase;
        @include animation("renderTitle 1s");
      }

      .span2 {
        padding-left: 0rem;
        position: relative;

        .and {
          position: absolute;
          top: 0.3rem;
          right: 3.5rem;
          color: white;
          font-size: 4rem;
          text-shadow: 3px 2px 0 #7a7a7ac7;
          font-family: "Alex Brush", cursive;
          @include animation("renderTitle 1.5s");
        }

        .artwork {
          color: #000000d3;
          text-transform: capitalize;
          font-size: 3rem;
          font-family: "Alex Brush", cursive;
          @include animation("renderTitle 3s");
        }
      }

      .span3 {
        margin-left: 9rem;
        color: white;
        font-size: 1.8rem;
        text-shadow: 3px 2px 0 #7a7a7ac7;
        @include animation("renderTitle 1.5s");
      }
    }

    &--subtitle {
      color: rgba(0, 0, 0, 0.685);
      background: rgba(255, 255, 255, 0.527);
      line-height: 20px;
      text-align: center;
      margin: 0rem 1rem;
      margin-top: 2rem;
      @include animation("renderTitle 2s");
    }
  }
}
